[2014-01-21 18:31] jakob-o opened #2 "Field sort order"
Hey, I like your package, unfortunately it reorders the field names in alphabetical order opposed to declaration order. Though computer don't mind I would prefer having the fields in declaration order.

Edit: Created a pull request.

[2014-02-25 15:14] #2 closed, assigned to nobody

[2014-07-15 17:13] arild-haugstad opened #7 "__init__.py uses relative import without leading dot, which doesn't work in Python 3"
The variant _with_ leading dot should work in Python 2.5 and later, and so should be valid for all supported versions.

It has apparently been fixed in a fork at https://github.com/ondrowan/djangorestframework-camel-case/commit/ca044d46682f58d80e9f099d31a663f98ec85ae2

... so I guess it wouldn't make sense for me to make a pull request with the same change...?

[2014-07-17 18:15] #7 closed, assigned to nobody

[2014-10-31 13:43] ppo opened #9 "Validation error messages are not camelized"
The field keys in serializer.errors are not in camelCase.
For example: {'snake_case': [u'This field is mandatory.']}

[2015-01-27 17:16] lylepratt opened #11 "Does not work with DRF 3.0"
This does not appear to work with DRF 3.0 on POST or PUTs. It renders fine, but does not work when camel cased fields are passed to create or update items.

[2015-03-23 15:18] jacobg opened #12 "renderer raises error if key is not string (e.g. long)"
Fix is in util.camelize method:

Instead of this:

[code]

Do this:

[code]

[2015-04-16 22:57] jacobg commented on #11
Works fine for me.

[2015-05-12 14:06] dbrgn commented on #11
Are you sending the requests as `multipart/form-data`? Might be related to #1346.

In my case, to get the test suite to run, `TEST_REQUEST_DEFAULT_FORMAT='json'` helped.

[2015-06-23 23:17] staab opened #14 "camel_to_underscore doesn't respect spaces"
I'm definitely using the camel_to_underscore function in an unexpected way (I'm transforming values as well as keys in some cases), but I think you'll agree this is bad behavior:

[code]

The first_cap_re regexp is a little naive. I'm not sure what the exact fix is, but there you go.

[2015-08-24 22:45] rchrd2 opened #16 "camelize regex should be pre-compiled"
In profiling a recent application, I noticed that `camelize` added some load time.

Some other regexes are precomiled, so it seems like an oversight that the regex in `camelize` is not also compiled.

eg:

[code]

https://github.com/vbabiy/djangorestframework-camel-case/blob/master/djangorestframework_camel_case/util.py

[2015-08-25 18:30] rchrd2 commented on #16
Another optimization:

Skip regex altogether if no "_" is in the key. eg.
[code]

[2016-09-22 13:24] jyothisgm opened #22 "Snake case values with single character causing problem"
Snake case values such as

 is converted to

 in Camel Case. It should have been

. Please find a solution for this.

[2017-01-19 20:50] merwok opened #24 "Can't assign items to tuple"
Hello and thanks for making this package!  I have a field that exists as a tuple before being serialized to a list.  With drf-camel-case, there is an exception coming from the camelize function:

    if isinstance(data, (list, tuple)):
        for i in range(len(data)):
            data[i] = camelize(data[i])

Tuples don’t support item assignment.

Suggested fix:

    if isinstance(data, tuple):

[2017-02-03 21:38] merwok commented on #24
Pull request #19 solves this!

[2017-02-03 22:23] merwok opened #25 "Need escape hatch"
It would be useful to have a way to let an object be rendered without transformation.

Suggestion: add a marker class used like `return Response({'valid_values': nocamel(some_choices)})` and change the camelize function to not change these objects.  The result here would be `{"validValues": [["thing_one", "Thing one"], ["thing_two", "Thing two"]]}`.

[2017-03-19 14:59] magul opened #26 "CamelCaseJSONRenderer alter response.data"
As it says in Django REST Framework [documentation](http://www.django-rest-framework.org/api-guide/responses/#data)

Unfortunatelly it occurs that `CamelCaseJSONRenderer` is changing `response.data` from

[code]
into
[code]

For minimal example see: https://github.com/magul/drf-cc-26 (there are 4 tests and 1 is failing because of the issue).

[2017-04-06 12:54] sadan commented on #26
Any idea if this package works with latest DRF?

[2017-04-06 12:57] magul commented on #26
@sadan as You can see in https://github.com/magul/drf-cc-26 I'm using it with
[code]

[2017-05-15 11:34] vstoykov commented on #26
Probably the issue is here https://github.com/vbabiy/djangorestframework-camel-case/blob/master/djangorestframework_camel_case/util.py#L21 because it will replace list items in place instead of creating new one as it do with `dict` objects.
Can you prepare a PR with a fix?

[2017-06-10 07:13] firehawk895 opened #29 "integer key/values in response can't be handled"
throws TypeError: expected string or bytes-like object.
I'm guessing we should gracefully handle and ignore keys that are not string (such as integer), rather than force them to be string.

[2017-06-11 12:19] timeu commented on #29
Yeah I ran into the same issue today.

[2017-07-06 15:21] #29 closed

[2017-07-07 03:00] vbabiy commented on #24
Fixed on master

@merwok thanks for the report

[2017-07-07 03:00] #24 closed

[2017-07-07 03:01] vbabiy commented on #26
Thanks @magul for the report should be fixed on master

[2017-07-07 03:01] #26 closed

[2017-07-07 03:04] #16 closed

[2017-07-07 03:05] vbabiy commented on #16
Thanks @rchrd2

[2017-07-07 03:06] vbabiy commented on #12
Fixed on master, thanks @jacobg

[2017-07-07 03:06] #12 closed

[2017-07-07 03:07] #11 closed

[2017-07-07 03:12] timworx commented on #25
You can specify the parser/renderer [per view as well](http://www.django-rest-framework.org/api-guide/renderers/). You can use that to override camel case.

[2017-07-07 03:58] vbabiy commented on #22
Fixed on master thanks @jyothisgm

[2017-07-07 03:58] #22 closed

[2017-07-07 04:05] vbabiy commented on #9
@ppo seem to be working for me

[2017-07-07 04:05] #9 closed

[2017-07-07 04:09] #25 closed

[2017-07-07 13:56] merwok commented on #25
In my example, the desired output had camel case for some keys and no transformation for others (I forgot what my original use case was, maybe geojson).  But you’re right that for such a specialized need I can implement my own renderer subclass and nocamel marker!

[2017-09-06 13:56] PedroMD opened #31 "When saving ForeignKey, parser defaults field to null"
Hello all,

This was working fine until I started saving ForeignKeys. No matter the JSON property type (string / integer), it always stores null.

`A` model:
[code]
`A` serializer:

[code]

If I do remove

[code]

from my settings, It all works as expected. When I POST

[code]

I do get the full url back when issuing a GET on this saved value. However, when using this parser and renderer, `refStre

[2017-09-06 14:26] PedroMD commented on #31
Hm, nevermind. It was an error on my side. Everything is working as expected.

[2017-09-06 14:26] #31 closed

[2017-09-08 11:36] PedroMD opened #32 "Doesn't work when used with rest_framework_gis serializers"
Hello all,

I've been using this renderer and parser with DRF 3.0 and while it has been working great, I had to ditch it now that I also need to use serializers from [rest_framework_gis](https://github.com/djangonauts/django-rest-framework-gis), particularly the `GeoModelSerializer`.

Here is a JSON example I'm POSTing:

[code]

and here is my serializer:

[code]

and model:

[code]

When using th

[2017-10-13 09:04] fadawar opened #33 "Renderer doesn't work with generators"
Hello,

first thank you for this module. :) Second, I found out it has problem if data in renderer are in form of a generator. Problem is in function `camelize`. Instead of checking if instance is list or tuple it should check if instance is iterable. Could you please fix it?

[2017-10-23 14:30] vbabiy commented on #33
Merged, will release a package later today

[2017-10-23 14:30] #33 closed

[2017-11-02 08:06] levic opened #35 "Ability to selectively camelize/underscorize fields"
Some time ago I looked at using this project for converting JSON responses from underscore case to camelcase but the problem I ran into is that it doesn't distinguish between keys that are values and keys that are field names

For example:

[code]
Output is:
[code]

There's no way of indicating that the keys in the `servers` object shouldn't be modified because it's an associative array where the

[2018-01-31 13:19] fadawar commented on #33
@vbabiy what happened? When will you release new version? Last stable version was in 2014.

[2018-02-22 09:30] IlianIliev opened #38 "Does not work with tuples"
Using it with a tuple data raise the following exception `'tuple' object does not support item assignment`.
Perhaps it should cast tuples to list before that, I'll try to create a patch.

[2018-03-20 20:56] javialon26 opened #39 "tag new version"
can you generate a new version with Underscoreize feature? because the version installed by pip does not have this feature.

thank you!

[2018-03-21 04:07] javialon26 opened #40 "error when value is a translation"
When the value to render is a translation (ugettext_lazy) the string is converted to array of strings.

I think the problem is the is_iterable method in util.py, because return true when the value is a translation.

Example of response:
[code]

[2018-04-10 18:54] lucas-bremond opened #41 "Does this work using django.http.JsonResponse?"
Hi there! Very nice tool, thanks!

Does this library work with Django REST framework's `JsonResponse`?

In `views.py`:

[code]

and I've set `settings.py` as documented:

[code]

but I'm still getting the underscore rendering...

[2018-06-15 10:33] dgilge commented on #40
Do you think this is an issue of `djangorestframework-camel-case` or of using `ugettext_lazy` where `ugettext` should be used?

[2018-06-28 19:05] jdesrosiers opened #42 "Doesn't camelize keys with numbers correctly"
The key `address_line_1` renders as `AddressLine_1`. I expect it to be `AddressLine1`. Is there a reason for this, or can we fix it?

[2018-06-28 20:47] jdesrosiers commented on #42
Actually, it looks like this was fixed back in November, but the fix hasn't been released to PyPi yet.

[2018-07-26 11:49] jacobg commented on #42
+1 please publish to pypi

[2018-09-26 22:35] fadawar commented on #42
I forked the repo and published new version on pypi
https://github.com/fadawar/djangorestframework-camel-case2

[2018-10-08 23:57] l0b0 opened #43 "`ValidationError` field names are not camelized"
When I `raise rest_framework.serializers.ValidationError({'some_field_name': 'some message'})` the resulting API response is `{'some_field_name': [ErrorDetail(string='some message', code='invalid')]}`. The expected response would be `{'someFieldName': [ErrorDetail(string='some message', code='invalid')]}`.

[2018-10-27 18:42] dgilge commented on #39
@vbabiy Any chance to release a new version? There are several users (including me) interested in the new features included in the master branch (see also #42).

[2018-11-06 00:42] PetrDlouhy opened #45 "Update PyPI package"
Substantial fixes like c25d707a883 are missing from actual PyPI package. Please update it.

[2019-01-30 23:15] vbabiy commented on #45
I just uploaded b2 and all is good will release a stable version.

[2019-01-30 23:15] #45 closed

[2019-01-30 23:18] vbabiy commented on #42
https://pypi.org/project/djangorestframework-camel-case/1.0.0/

[2019-01-30 23:18] #42 closed

[2019-01-30 23:19] vbabiy commented on #39
https://pypi.org/project/djangorestframework-camel-case/1.0.0/

[2019-01-30 23:19] #39 closed

[2019-02-01 00:19] #32 closed

[2019-02-01 00:20] #14 closed

[2019-02-01 00:20] vbabiy commented on #40
This should be fixed in the latest versions.

[2019-02-01 00:20] #40 closed

[2019-02-01 02:48] insung151 opened #48 "What do you think about providing camel case html renderer?"
I'm using `djangorestframework-camel-case`,
but It is a little inconvenient because I can not use html renderer.
So I created a calmel case html renderer using drf's defualt html renderer.

[2019-02-01 11:33] vbabiy commented on #48
I personally don't use it, but I would be okay adding it you submit a PR.

[2019-02-01 11:36] vbabiy commented on #43
Those errors look like they are on the python side, not the JSON response. The render doesn't touch them at that point.

[2019-02-01 11:36] #43 closed

[2019-02-05 07:26] nyk510 opened #50 "Not work with the serializer field contains number"
## Environment

* Django==2.0

## Abstract

We define some serializer field contains number like `password1`, the serializer can't detect field and raise required error.

## Example

We define the endpoint to change password. The Serializer has two fields, i.e.

* new_password1
* new_password2

, then post to it with the body as

[code]

. We have `required field error` like

![capture 2019-02-05

[2019-02-05 21:35] bunnyfly commented on #50
The recent upgrade to 0.2.0 -> 1.0.3 broke this exact form for me (django-rest-auth's rest_auth [PasswordChangeView](https://github.com/Tivix/django-rest-auth/blob/master/rest_auth/views.py#L205)).

All other forms in my app seem to work, but if I append a number to fields in my own serializers, it also seems to break those and I can't seem to get them to work.

[2019-02-07 05:04] insung151 commented on #50
Did you checkou underscoreize setting?

[2019-02-07 05:39] nyk510 commented on #50
@insung151 thanks for the wonderful comment !!
Is it different `underscoreize` default value before version==0.20 ...?

[2019-02-11 07:31] roboxv commented on #50
I had a similar problem when updated to 1.0.3

I've tried to POST this body. `custom_earn_points_rate` is `JSONField`
[code]

And I got `16_7` as key instead of `167`.
`'no_underscore_before_number': True` setting solved my problem.

[2019-02-13 07:14] python273 opened #51 "Releases"
Please start making Change Log / using GitHub Releases, so it's possible to know what was changed (like https://github.com/vbabiy/djangorestframework-camel-case/issues/50)

[2019-02-15 22:36] bennettrogers opened #52 "rendering a dict response only returns a list of keys since #34"
First of all, thanks for building this package. It's very convenient!

I recently updated to the latest release and noticed that rendering dict responses from DRF is broken. It looks like the iterator support added in #34 clobbers the original dict handling. The dict response is camelized correctly, but then the `is_iterable(data)` conditional passes and immediately the dict is converted into a li

[2019-02-15 22:43] bennettrogers commented on #52
Nevermind - I think I broke my local copy of the package trying to debug a separate issue. Please disregard.

[2019-02-15 22:43] #52 closed

[2019-02-23 13:29] webyneter commented on #51
Releasing the latest master would also help a lot.

[2019-03-14 21:30] th0th commented on #35
@levic can you please share your `camelize` with ignore implementation? I have the same issue, with a `JSONField`.  However, I am not sure that setting a global ignore pattern would work, the same key might be used in different places,

[2019-03-27 14:11] RoryOfByrne opened #53 "Setting to preserve _leadingUnderscores"
Hi folks, in my API I have some keys with `_leading_underscores`, for example:

[code]

I want to preserve these leading `_`'s, but camelize the other fields.

I am thinking about a PR that adds a setting `PRESERVE_LEADING_UNDERSCORE`, which would allow `camelize_re` in `utils.py` to be `[a-z0-9]_[a-z0-9]` instead of `[a-z0-9]**?**_[a-z0-9]`.

This would probably involve changing `camelize_re` fro

[2019-03-27 14:58] RoryOfByrne opened #54 "Input with a _leading_underscore results in PascalCase: LeadingUnderscore instead of leadingUnderscore"
With an input like `_leading_underscore`, `camelize` gives an output of `LeadingUnderscore`, with the first letter as uppercase.

Expected output is `leadingUnderscore` with the first letter as 3lowercase.

[2019-04-04 08:23] luktar opened #55 "Could not import 'rest_framework.renderers.UnicodeJSONRenderer'"
I configured my django according to guide. The error occurs:

`ImportError: Could not import 'rest_framework.renderers.UnicodeJSONRenderer' for API setting 'RENDERER_CLASS'. AttributeError: module 'rest_framework.renderers' has no attribute 'UnicodeJSONRenderer'.`

Changing `UnicodeJSONRenderer` to `JSONRenderer` another error occurs:

`ImportError: Could not import 'djangorestframework_camel_case

[2019-04-04 08:32] luktar commented on #55
`pip install six`

solved the problem

[2019-04-17 07:39] BreezeFreak opened #56 "Initial problem"
I having a problem when I get JSON data like:
`>>> underscoreize({'HelloWord': 'HelloWorld'})`
`{'_hello_word': 'HelloWorld'}`
---
Am i using it a wrong way?
I got data from an API and this problem confused me.
It seems no other issue refer to this case.
Sorry about my bad English, and thanks for your work.

[2019-04-22 04:15] #50 closed

[2019-07-09 01:08] Reyvel commented on #56
HelloWord isn't camelCase, it should be helloWorld

[2019-07-13 15:20] belidzs commented on #55
six should be listed as a requirement in requirements.txt and setup.py as well

[2019-07-16 04:55] hex-hex opened #60 "cannot import name 'six' from 'rest_framework.parsers'"
When I upgrade the version of django rest framework to 3.10.0, the project cannot start up and raise this exception.

[code]

[2019-07-16 06:06] akiyoko opened #61 "'djangorestframework_camel_case.parser.CamelCaseJSONParser' does not work with DRF 3.10.0"
## Details
My DRF project is under the following conditions.

1) packages
[code]
2) mysite/settings.py
[code]
This raises the following error while starting up runserver.
[code]

## Cause
This error seems caused by the compatibility between DRF@3.10.0 and djangorestframework-camel-case@1.0.3.

DRF 3.10 release dropped support for Python 2 and rest_framework/parsers.py@3.10.0 removed the import of

[2019-07-16 13:18] akiyoko opened #62 "CamelCaseJSONParser does not care about the field whose name ends with more than two digit"
## Summary

CamelCaseJSONParser does not care about the field whose name ends with more than one digit like this:

- 'key10' is coverted to 'key_1_0'
- 'anotherKey10' is coverted to 'another_key_1_0'

I hope the following will occur:

- 'key10' would be 'key_10'
- 'anotherKey10' would be 'another_key_10'

## Details

My serializer has some fields as follows:

api/serializers.py
[code]

When I post

[2019-07-16 13:28] akiyoko commented on #61
I found the right solution https://github.com/vbabiy/djangorestframework-camel-case/pull/59.

[2019-07-17 16:39] asmaps commented on #35
I could use a feature like that too, but the other way round, so to selectively not decamelize some fields. Probably this should be defined in the serializer Meta class.

[2019-07-17 18:35] laesquinadelsofa commented on #60
i got the same problem

[2019-07-23 15:57] atnartur opened #64 "CamelCaseMultiPartParser does not care about multiple file uploads"
When I try to upload multiple files in the same key of request body `underscoreize` function replace all files with the last one.

[2019-07-31 12:45] gumusoyku opened #66 "underscore_to_camel is not working with str"
I am using the library already so I would like to use the `underscore_to_camel` too.
but its not working with strings.
Getting `*** AttributeError: 'str' object has no attribute 'group'` error

[2019-07-31 12:50] #60 closed

[2019-07-31 12:50] #61 closed

[2019-07-31 13:00] vbabiy commented on #66
@gumusoyku can you include an example of how you're using it?

[2019-08-01 14:00] robrichter opened #67 "Version 1.0.3 in PyPI differs from version 1.0.3 on GitHub"
When you install version 1.0.3 from PyPI by pip install djangorestframework-camel-case you get completely different code than on GitHub.

Few examples of differencies:
render module is missing class CamelCaseBrowsableAPIRenderer
parser module contains: from rest_framework.parsers import **six**, FormParser

[2019-08-03 00:37] Alan-Solitar commented on #67
Seeing the same issue here.

[2019-08-04 21:00] alexandremjacques commented on #67
Same here.

[2019-08-05 15:22] HymanZHAN commented on #67
Same here. Not able to import renderers as a result.

[2019-08-09 11:44] Racum commented on #67
Bump the version, publish on PyPI!

[2019-08-12 14:13] jastee07 commented on #67
Same issue. Is there a working version I can use until this one is updated?

[2019-08-13 04:14] Alan-Solitar commented on #67
@robrichter @Racum @jastee07 @HymanZHAN @alexandremjacques

Seems like the master branch is indeed working fine even though the pypi version doesn't work.

What I did was instead just install the package directly from github using pipenv.  This can also be done with pip.

Basically I just ran the following command:

pipenv install git+https://github.com/vbabiy/djangorestframework-camel-case.git@ma

[2019-08-14 13:53] nicolas-b12 commented on #67
As you can see here, https://github.com/vbabiy/djangorestframework-camel-case/pull/65#issuecomment-516834922 @vbabiy said that he will review some other PRs before pushing a new version of PyPI. I'm sure it will be soon 😉

[2019-08-21 14:37] michaelmarziani commented on #67
I just did a fresh install, latest DRF, latest DRF-camel-case from pypi and I'm having this issue:

`ImportError: cannot import name 'six' from 'rest_framework.parsers'`

I think it's important for plugins like this to work with the latest release version of the software they support. New users of DRF-camel-case for the past month have been getting this error and reasonably concluding that this is

[2019-08-21 14:40] jastee07 commented on #67
There is a second version someone made until this one is supported again: https://pypi.org/project/django-rest-framework-camel-case/

[2019-08-21 20:27] YPCrumble commented on #67
@vbabiy in case you're looking for maintainers I would be happy to help. Also could be a good project to integrate with [jazzband](https://github.com/jazzband).

[2019-09-09 10:00] canassa commented on #67
Hello everyone,

I use this dependency on several of my projects, therefore I decided to fork it push it PyPI:

https://github.com/canassa/djangorestframework-camel-case

You can install it with:

[code]

It's a drop-in replacement. Feel free to use it!

[2019-09-09 10:55] JonasKs commented on #67
I think a better solution would be to do a pip install with a commit, rather releasing a new package to PyPi.
[code]

Also, I get that you've put your information in the `setup.py` with your approach, but changing the [init](https://github.com/canassa/djangorestframework-camel-case/blob/master/djangorestframework_camel_case/__init__.py) to you does not make sense to me.

[2019-09-09 11:49] canassa commented on #67
@JonasKs I was doing git+https install, but the problem is that it's a slower than a regular install from PyPI and I don't think it's cacheable by pip. I am also planning on adding extra features to it and merge some of the issues that are already open in here, so that's why I pushed it PyPI

Good point on the init, I am not very sure on how to proceed with that on forks. I don't want to give the

[2019-09-09 12:05] michaelmarziani commented on #67
If @canassa is willing to start maintaining a branch of this I'd use it. If at a later date @vbabiy is available again, they can work out merging back, sharing maintenance, whatever.

[2019-09-10 00:18] vbabiy commented on #67
I have finally done it, 1.10 is out :fireworks:

https://pypi.org/project/djangorestframework-camel-case/1.1.0/

[2019-09-10 00:18] #67 closed

[2019-09-10 00:19] vbabiy commented on #64
@atnartur can you create a test case showing this?

[2019-09-10 00:20] #56 closed

[2019-09-10 00:21] vbabiy commented on #51
I have finally done it, 1.10 is out :fireworks:

https://pypi.org/project/djangorestframework-camel-case/1.1.0/

[2019-09-10 00:21] #51 closed

[2019-09-10 00:32] vbabiy commented on #35
@levic I would like to see how you have done this.

[2019-09-10 00:32] vbabiy commented on #55
@belidzs @luktar this should be fixed in the latest release. Let me know if its not.

[2019-09-10 00:32] #55 closed

[2019-09-11 12:28] atnartur commented on #64
I'm trying to reproduce this bug. When I finish it I attach the link on repo

[2019-09-27 15:17] kylebamos opened #69 "DRF 3.10 compatibility"
DRF 3.10 dropped support for Python 2. As such, it is no longer to import six from restframework.compat

[2019-10-06 00:46] #62 closed

[2019-10-09 03:39] phanhuudinh commented on #64
Have the same issue

[2019-10-17 13:44] canassa commented on #69
This was already fixed, are you using the latest djangorestframework-camel-case version?

[2019-10-25 12:14] akiyoko opened #73 "Bad underscorization; util.camel_to_underscore('anotherKey1') returns 'another_key1'"
I found weird underscorization.

[code]

That's OK :)

[code]

That's weird. I hope that it should return 'another_key_1'.

My requirements are as follows:

[code]

[2019-10-25 17:06] Kyle-Steven-Lewis commented on #73
I noticed this recently as well.  Setting your djangorestframework-camel-case version back to 1.1.1 seems to fix the issue.

[2019-10-25 17:08] Kyle-Steven-Lewis commented on #73
Further note, it seems like `someThing1` becomes `some_thing1` whereas `some1Thing` becomes `some_1_thing`.  So it's only an issue if it ends with a number.

[2019-10-30 12:28] srgpdbd commented on #64
Can confirm. Same issue here

[2019-11-01 15:20] akiyoko commented on #73
I found another case:

[code]

[2019-11-06 17:05] torfeld6 commented on #35
I extended the `CamelCaseJSONParser` class quick and dirty to use a `underscoreize` function which skips items in api_settings.JSON_UNDERSCOREIZE['skip_keys'].

https://gist.github.com/torfeld6/7d794b26531f0cc03043ff666980fe50

I'd like it to be in the serializer too, but I don't think it can be with a parser. It would have to be a serializer mixin.

[2019-11-14 10:15] gumusoyku commented on #66
@vbabiy  Hey, sorry, apparently this was on me.
I am closing this issue since there is no problem. 😅

[2019-11-14 10:15] #66 closed

[2019-12-02 16:43] #73 closed

[2019-12-18 11:51] FootyNetwork opened #75 "Django Rest Witchcraft support"
Hi everyone,

Thanks for maintaining such a great resource.

Unfortunately, I am having trouble getting this package to work with [Django Rest Witchcraft](https://github.com/shosca/django-rest-witchcraft) which handles serializing models against SQLAlchemy.

**Problem**

I have added the default renderer and parser classes to my `settings.py` as follows (following the instructions in the `README.m

[2019-12-18 13:51] FootyNetwork commented on #75
I was able to achieve parsing by handling it at a class level in my viewsets:

`views.py`

[code]

[2019-12-18 13:51] #75 closed

[2020-01-07 12:29] lutrasdebtra commented on #35
@torfeld6 This was really helpful, I modified your code slightly to handle nesting, and also created a renderer:
- Parser: https://gist.github.com/lutrasdebtra/799faf2c8f7cb6cc80c6e41f3ef9f08e
- Renderer: https://gist.github.com/lutrasdebtra/8be2bca78c61d1426568500503c8983c

[2020-01-07 16:53] #69 closed

[2020-01-09 11:53] iproha94 opened #76 "Django 3 warning compatibility: force_text() is deprecated in favor of force_str()"
Uses:
*  djangorestframework==3.11.0
*  djangorestframework-camel-case==1.1.2
*  django==3.0.2

[code]

[2020-01-29 14:42] AndrewBorisenko commented on #64
@vbabiy , what about this bug? Could we hope for resolving it issue?

[2020-01-29 16:24] vbabiy commented on #64
@AndrewBorisenko I am not sure if I will have time soon, but PRs are welcome.

[2020-01-30 15:18] AndrewBorisenko commented on #64
@vbabiy If you would have some free time - check my pull request for resolving it issue
https://github.com/vbabiy/djangorestframework-camel-case/pull/77

[2020-01-30 22:45] sudomann opened #78 "variable names like `accepted_TOS` do not work"
For sure, a variable named `accepted_TOS` isn't ideal. At the same time, it's a valid python variable name, yet this library wouldn't work with it.

When trying to consume my api, I tried the following:

[code]

All invalid. As soon as I disabled this package and tried it with the python style variable names it worked.
So something is being bungled within this package, given the way it mishandles

[2020-02-11 13:22] knyghty opened #79 "Camelizing schema generator"
Right now if you use this package and DRF's OpenAPI schema generator, the fields don't end up camelized. I have kludged together a quick fix for this:

[code]

It works for me and it seems like a good fit for this project, but I thought I'd check in first before making a PR because I'm not sure if it's an amazing idea. It's very useful and works, but overriding a private API (`_map_serializer()`)

[2020-02-17 16:28] nicam commented on #79
I have the same problem :)

[2020-03-10 20:03] psarma89 opened #81 "Does this work for nested JSON?"
Looks like it will work for the top level keys in a json data structure, but does it work for nested data like this? Does not seems to work for `nestedKey` in the scenario below.

[code]

[2020-04-10 07:04] serendipity1004 opened #82 "Does not work with multipart upload"
I am using restframework 3.11.0, camel case 1.1.2 and unfortunately it doesn't seem to work for Multipart files when I add `MultipartParser` like below

[code]

I have to send the data in snake case for my api to work when I am using MultipartParser

[2020-04-17 03:45] escobarjj opened #83 "Use renderer in specific APIView"
Hi! Is there a way to apply the renderer class to a specific APIWiev instance? I have already so many endpoints created that do not return camelCase keys so putting the renderer method as a default render will break existing things. So I tried setting it up like this but that did not work for me:
[code]

Thanks in advance!

[2020-04-17 04:01] escobarjj commented on #83
Sorry, just found in the documentation how to do it by using the renderer_classes field
https://www.django-rest-framework.org/api-guide/renderers/#setting-the-renderers

[2020-04-17 04:01] #83 closed

[2020-05-29 19:51] haruanm commented on #35
Is there a chance that a feature like that would be added to the project?
I can help with something if there is space to it.

[2020-06-16 23:58] vbabiy commented on #82
@serendipity1004 can you test the latest version, if not PR with at least a test would be really helpful.

[2020-07-22 01:20] kborer opened #85 "surprising behavior on ALL CAPS"
e.g. `{"ABCD": "1234"}` becomes `{"a_bc_d": "1234"}`

[2020-07-22 15:20] Yacine-A commented on #35
I am facing the same issue, this feature would be such a great addition to the package.

[2020-07-22 16:50] vbabiy commented on #35
I am all for this, we just need to come up with a full PR. With docs and tests around this.

[2020-08-07 12:26] michaelsizonenko opened #86 "Ignore fields does not work as expected"
settings.py

    "JSON_UNDERSCOREIZE": {
        # ...
        "ignore_fields": ("order_update", ),
        # ...
    }

Still got output response:

{
    "orderUpdate": {
        "items": [
            {
                "parent": null,
                "type": "tax",
                "description": "Sales taxes",
                "amount": 350,
                "currency": "usd"
            }

[2020-09-23 10:27] #48 closed

[2020-10-19 09:02] nimame opened #87 "Field lists in query parameters such as DRF's ordering filter"
When using `rest_framework.filters.OrderingFilter` in a view, one can add a list of comma-separated field names to an "order" query parameter (see the [docs](https://www.django-rest-framework.org/api-guide/filtering/#orderingfilter)). However, those lists are currently not affected by this package, making it incompatible with it out-of-the-box. I solved this, by extending the `get_ordering` method

[2020-11-14 19:53] banagale commented on #82
I noticed that it seems to not work on `ImageField` as well.

I'm running Django 3.1.3, DRF 3.12.2 and DRF-C-C 1.2.0.

In my case the frontend would prepare the image like:

[code]

And then the serializer that takes it looks like:
[code]

Trying to send up camel case from the frontend failed, so I have to use the snake case as per the line above data.append('profile_photo')...

@vbabiy I'd be hap

[2020-12-21 15:59] t-ionut commented on #79
I think I've found a way to make this work by doing a bit of explicit configuration. I just had to implement the OpenAPI schema endpoint from the DRF [docs](https://www.django-rest-framework.org/api-guide/schemas/#generating-a-dynamic-schema-with-schemaview) and then passed the renderer classes configured according to this package's [docs](https://github.com/vbabiy/djangorestframework-camel-case#i

[2021-02-06 18:09] stevewilliamsuk commented on #86
Agree, can reproduce the issue at will. However, the proposed fix may alter the problem.

[2021-03-15 13:59] snowman2 commented on #53
I would like to add my vote `+1` to this idea.

[2021-03-31 17:45] tevariou commented on #79
https://github.com/tfranzel/drf-spectacular supports djangorestframework-camel-case

[2021-04-07 11:15] krzysieqq opened #91 "Underscoreize GET params"
Is there any option to underscoreize GET params with this package? If not what is the best option to do that, add custom middleware?

[2021-06-08 01:36] jturmel commented on #91
This would be nice, we use serializers to validate GET params (which are camelCase) and the serializer fields have to be matching camelCase for them to work, it'd be nice if they got transformed as well.

[2021-06-22 15:02] djowett-ftw commented on #86
#89 does (roughly) what I wanted, however I have to admit that ignore_fields was coded with a different intention - see this comment:

https://github.com/vbabiy/djangorestframework-camel-case/pull/80#discussion_r440705463

[2021-06-23 08:51] djowett-ftw commented on #78
Agreed, I has this problem for a field called `countryIdISO2`

My solution in the end was to use the change in this PR #93 to ignore the key.

[2021-06-24 15:23] yspreen commented on #91
I also just ran across `request.GET` being the only missing place for camelcase parsing

[2021-06-30 14:16] Luctia opened #94 "Request body arrives at view/action with camelCase"
I have the settings of my project set up as is shown in the documentation. When I send a request to an endpoint like this:
[code]
Then my back-end prints the body with camelCase. Shouldn't it be snake_case at this point? What am I doing wrong, because this is preventing me from saving `request.body`.

[2021-07-02 16:14] ezbc commented on #76
Replying here to bump up @jenselme 's PR

[2021-07-08 17:52] pxotox commented on #53
Until this is not added, a workaround is to override `camelize_re` regex, adding the following code to the settings file works

[code]

[2021-07-17 10:25] hustonCun opened #95 "Does not work with DjangoFilterBackend"
I use ```django_filters.rest_framework.DjangoFilterBackend```

![image](https://user-images.githubusercontent.com/18235953/126033947-4a21e877-6d72-4cf7-9211-1be1c2be0690.png)
In my view class I add ```filterset_fields``` attribute
And this list does not reach to ```CamelCaseJSONRenderer```
How I can solve this problem?

[2021-08-18 20:00] #76 closed

[2021-09-05 22:51] AlexElizard commented on #91
Related issue #95

[2021-09-20 12:32] krzysieqq commented on #64
Try to use PUT instead of POST method in my case it helped.

[2021-09-20 12:33] krzysieqq commented on #82
Try to use PUT instead of POST method in my case it helped.

[2021-09-22 23:52] tremlab commented on #82
Having the same issue.  😢 Has anyone else found a solution?  I see there are a few other similar packages out there...has anyone tried them?
https://pypi.org/search/?q=djangorestframework-camel-case

Unfortunately I can't switch from POST to PUT, but do you have any idea what exactly is broken about the POST? @krzysieqq

Thanks!

[2021-09-23 00:28] vbabiy commented on #82
If anyone can help me with a test case, I can try to get this fixed.

[2021-09-23 00:29] vbabiy commented on #95
@hustonCun what are you using to render that?

[2021-09-23 04:05] banagale commented on #82
I’ll try to find the project this was happening on.

[2021-09-23 12:01] krzysieqq commented on #82
I think that the problem is a little more complicated. I was trying to debug this but I didn't find any fast fix. The problem could start in Django middlewares, and it seems that one of them, opens the file in stream buffer before it goes to this package. When a request goes into renderer it doesn't come into parse function because it stops earlier. More precisely it stops in rest_framework/reques

[2021-09-23 17:29] tremlab commented on #82
It is very complicated! I tried to follow the code but still don’t understand what is happening. @krzysieqq

For me, the root failure happened here:

…/lib/python3.7/site-packages/rest_framework/fields.py
[code]

The function expects the data argument to be a file, but in my case it is a LIST containing one file.  So file.name blows up.  No idea how this is connected to the camel_case package. 🤷‍♀

[2021-09-24 13:22] krzysieqq commented on #82
It's funny but I'm unable to recreate bug at new project. I also try to recreate in another project i which i had this problem, but i also I can't. I'll later try to recreate maybe

[2021-09-24 16:11] banagale commented on #82
I think this is what happened for me! I ran into an issue, reported it here, then I think it uh, “went away.” I don’t remember fixing it but more like, “maybe I was mistaken about this being broken.”

I was going to mention that in my most recent reply, but it didn’t seem like that did much to stand up my previous report of the issue.

I would have wanted to have provided some follow-up that it wa

[2021-09-26 20:29] tarsil opened #96 "Latest DRF and Django does not work"
So I was trying to run this with all parsers and so on but I encountered this

[code]

This is due the latest DRF and this breaks all over the place

[2021-10-05 13:21] sergiusnick opened #97 "Recursive version of ignore_fields"
`ignore_fields ` settings allows skip camelize and underscoreize of exact keys. But sometimes it is required to ignore exact key and all keys in nested lists and dicts

[2021-10-05 14:35] sergiusnick opened #98 "json_underscoreize in CamelCaseJSONRenderer"
class CamelCaseJSONParser has json_underscoreize field that can be redefined in inherited class.
Let's add json_underscoreize to CamelCaseJSONRenderer

[2021-11-02 10:06] danilovmy opened #101 "djangorestframework_camel_case utils force_text"
force_text is renamed to force_str in django 4.0

right now i change row 7 to:
from django.utils.encoding import force_str as force_text
in djangorestframework-camel-case-1.2.0.tar.gz on pypy

[2021-11-18 19:30] szymi- opened #102 "bug in function camel_to_underscore"
Something isn't right with `camel_to_underscore` function:

[code]

[2021-11-18 19:31] szymi- commented on #102
[code]

[2021-11-26 09:08] lemihthien commented on #102
The same issue

[2021-12-07 15:30] landoephan opened #103 "Django 4 support"
force_text and pytz are not part of django anymore. Is there a release that is compatible with django 4?

[2021-12-07 17:22] jairhenrique commented on #103
This commit c988ced294cf0895b905dfdae3aebdd91e3bfc41 fixes this issue.
@vbabiy can you bump a new lib version?

[2021-12-14 12:03] landoephan commented on #103
is the lib version updated?

[2021-12-14 12:38] vbabiy commented on #103
@landoephan and @jairhenrique will be released later today

[2021-12-14 12:56] #86 closed

[2021-12-14 13:33] vbabiy commented on #103
Released!

[2021-12-14 13:33] #103 closed

[2021-12-14 13:34] vbabiy commented on #102
@szymi- can you please add a PR with a test case that shows this?

[2021-12-14 13:34] vbabiy commented on #101
This should be fixed in 1.3.0, which was released today.

[2021-12-14 13:34] #101 closed

[2021-12-14 13:35] vbabiy commented on #96
@tarsil please try with the new version.

[2022-01-03 13:21] sergei-maertens commented on #35
Am I wrong in thinking this is possible (to some extent) through the `json_underscoreize` attributes of the parser/renderer classes?

[2022-02-04 10:54] kevinrenskers opened #106 "Can't install 1.3.0: "Failed building wheel for djangorestframework-camel-case""
I'm trying to update to 1.3.0 so that I can also upgrade to Django 4, but I am getting the following error:

[code]

Any idea how to fix this?

[2022-02-04 10:56] kevinrenskers commented on #106
It works fine locally on my computer (macOS, Python 3.9.10), but not on my server (Debian, Python 3.9.2). Both use virtualenv.

[2022-02-04 11:03] kevinrenskers commented on #106
After updating both pip and setuptools the error looks slightly different:

[code]

[2022-02-04 11:11] kevinrenskers commented on #106
`pip install djangorestframework-camel-case --no-use-pep517` worked in the end. No idea what's causing the error though!

[2022-02-08 13:15] JupiterThreads commented on #86
Is this ignore keys pr going to get added soon? I would also benefit from this as I'm trying to turn a field 'id' to '_id'. Thanks!

[2022-02-24 11:02] helgi-hugfimi opened #107 "Parsing camelcase to underscore on a string ending with a capital letter"
Is this expected behaviour? (running v1.2.0)
[code]

I expected `email_on_pos`.

[2022-03-01 14:59] maxbellec commented on #106
Same for me, it only fails on my server with Python 3.9.7, Ubuntu 21.10. `--no-use-pep517` fixed it for me too, thanks :tada:

[2022-03-10 10:07] qununb commented on #102
@vbabiy Hey! I have the same problem in my project, can I add a PR to fix it?

[2022-03-14 17:19] shubham1210 opened #111 "No Conversion happening from Upper Case camel field to Upper case snake case"
rest api will receive ->   CaseCODEPrefix

Expected :
want to convert in to snake case like this -> case_CODE_prefix

Happening :
it is converting like this : case_Code_prefix

[2022-05-18 23:06] SuperSandro2000 opened #116 "Release tags are missing on GitHub"
Many tags are missing on GitHub. Would be nice to tag the versions here so that distros can run the tests to make sure that everything works like expected.

[2022-07-12 15:09] mrudelle commented on #87
For anyone looking for adding support for the browsable api or other package that depend on `get_valid_fields`:
[code]